* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0 auto;
  scroll-behavior: smooth;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: white;
  font-size: 1.8vh;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
  padding: 0 10%;
}

.navbar .logo {
  display: block;
}

.navbar .logo img {
  height: 50px;
}

.navbar .main-nav {
  justify-items: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style-type: none;
  font-family: "Kurale", serif;
  font-size: 14px;
}

.navbar .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .main-nav ul li {
  list-style-type: none;
}

.navbar .main-nav ul a {
  padding: 18px 20px;
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.navbar .main-nav ul a:hover {
  background-color: #b6ae2f;
  color: white;
}

@media screen and (max-width: 768px) {
  .navbar .main-nav {
    display: none;
  }
}

.pocetna {
  background-image: url("../../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fbedb2;
  color: #363636;
  padding-left: 10%;
  font-family: "Kurale", serif;
}

.pocetna h1 {
  padding-top: 300px;
  font-size: 50px;
  padding-bottom: 150px;
}

.pocetna p {
  padding-top: 30px;
  padding-bottom: 150px;
  font-size: 14px;
  width: 70%;
  font-weight: 800;
}

.proizvodi {
  background-color: #363636;
  padding: 10% 20%;
}

.proizvodi .image1,
.proizvodi .image2,
.proizvodi .image3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.proizvodi .image1 img,
.proizvodi .image2 img,
.proizvodi .image3 img {
  height: 250px;
  border: 5px solid rgba(251, 237, 178, 0.6);
  border-radius: 5px;
  margin: 15px;
}

@media screen and (max-width: 768px) {
  .proizvodi .image1,
  .proizvodi .image2,
  .proizvodi .image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .proizvodi .image1 img,
  .proizvodi .image2 img,
  .proizvodi .image3 img {
    height: 350px;
  }
}

.informacije {
  padding: 5% 10%;
  font-family: "Kurale", serif;
  color: #b6ae2f;
  background-color: #fbedb2;
}

.informacije .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}

.informacije .info img {
  height: 40px;
  margin: 5px;
}

.informacije .info p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer {
  background-color: #6a6507;
  padding: 1% 2%;
  text-align: center;
  font-size: 20px;
  font-family: "Kurale", serif;
  color: white;
}

footer img {
  height: 20px;
}
/*# sourceMappingURL=styles.css.map */