.proizvodi {
  background-color: #363636;
  padding: 10% 20%;
  height: 1000px;

  .image1,
  .image2,
  .image3 {
    position: relative;
  }

  .image2 {
    text-align: right;
  }

  .retangle {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 250px;
    width: 250px;
    background-color: none;
    border: 5px solid #6a6507;
    img {
      position: absolute;
      margin: 0;
      bottom: -80px;
      left: 20px;
    }
  }

  .circle {
    position: absolute;
    top: 300px;
    right: -30px;
    height: 250px;
    width: 250px;
    background-color: none;
    border: 5px solid #b6ae2f;
    img {
      position: absolute;
      margin: 0;
      top: -80px;
      right: 20px;
    }
  }

  .triangle {
    position: absolute;
    top: 500px;
    left: -10px;
    height: 250px;
    width: 250px;
    background-color: none;
    border: 5px solid #e4d70d;
    img {
      position: absolute;
      margin: 0;
      top: -80px;
      left: 20px;
    }
  }

  img {
    height: 300px;
    margin: 15px;
  }
}
