.proizvodi {
  background-color: #363636;
  padding: 10% 20%;

  .image1,
  .image2,
  .image3 {
    display: flex;
    justify-content: space-around;

    img {
      height: 250px;
      border: 5px solid rgba(#fbedb2, 0.6);
      border-radius: 5px;
      margin: 15px;
    }
  }
  @include breakpoint(tablet) {
    .image1,
    .image2,
    .image3 {
      display: flex;
      justify-content: space-around;

      img {
        height: 400px;
      }
    }
  }
}
